#footer{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}
#footer a{
    color: rgba(255, 255, 255, 0.8);
}
.footerHov p:hover{
    text-decoration: underline!important;
}
.footerst a{
    text-decoration: none;
    color: rgb(0, 0, 0, .8);
}