#regFormweb{
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#regFormweb form{
    height: 100%;
    background-color: #f2f2f2;
    width: 70%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 50px 30px;
}
#regFormweb form h4{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Open Sans' , sans-serif;
    font-weight: 600;
}
#regFormweb form label{
    width: 15%;
    margin: 0 30px;
    text-align: right;
    cursor: pointer;
}
#RegCheckStream{
    display: flex;
}
#RegCheckStream .optionsStream{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
#RegCheckStream  .options{
    display: flex;
    gap: 10px;
}
#RegCheckStream  .options label{
    font-size: 14px;
}
#registerInputfield .inpfilds input{
    width: 70%;
    padding: 12px 20px;
    border-radius: 4px;
    background:none;
    border: 1px solid #ccc;
    margin: auto;
    display: inline;
}

#regFormweb #registerInputfield input{
    font-size: 14px;
    margin: 10px auto;
}
#regFormweb #registerInputfield input:focus{
    outline: none;
}
#regFormweb #RegCheckStream{
    margin: 10px 0;
}
#regFormweb #RegCheckStream #stream{
    font-weight: 600;
    color: black;
    font-size: 12px;
}
#regFormweb #registerInputfield label{
    font-weight: 600;
    color: black;
    font-size: 12px;
}
#RegSubBtn {
    margin: 30px;
}

#RegSubBtn button{
    width: 100%;
    border-radius: 30px;
    padding: 10px ;
    color: white;
    background-color: #2d6cdf;
    border: none;
}
#RegSubBtn button:hover{
    background-color: #2465dc;
}
.ErrorMessageReg{
    color: red!important;
    margin-left: 25%!important;
    font-size: 12px!important;
}
#registerInputfield .ErrorMessageReg{
    margin-left: 22%!important;
}

/* for responsiveness  */
@media screen and (max-width: 1300px) {
    #RegCheckStream .optionsStream{
        flex-flow: row wrap;
    }
}
    
@media screen and (max-width: 1070px) {
    #registerInputfield .inpfilds{
        display: flex;
        flex-direction: column;
    }
    #regFormweb #registerInputfield label {
        font-weight: 600;
        color: black;
        font-size: 15px;
        display: block;
        width: 100%;
        float: left;
    }
    
    #regFormweb form label {
        width: 15%;
        margin: 0 30px;
        text-align: left;
    }
}
@media screen and (max-width: 700px) {
    #registerInputfield .inpfilds input{
        width: 95%;
    }
    #regFormweb form label {
        width: 15%;
        margin: 0;
        margin-right: 30px;
    }
    #regFormweb form {
        width: 95%;
        margin: 0px auto;
    }
    #regFormweb form h4 {
        font-size: 18px;
    }
    #registerInputfield .ErrorMessageReg{
        margin-left: 7%!important;
    }
}
