#CoueseEachContent{
    height: 100%;
    width: 100%;
    display: grid;
}
#CoueseEachContent .cards{
    background-color: #fafafa;
    display: flex;
    width: 550px;
    margin: 20px;
}
#CoueseEachContent .cards .cardLeftSec{
    width: 50%;
    height: 400px;
    position: relative;
    background-color: black;
}
#CoueseEachContent #BCA .cardLeftSec::before,
#CoueseEachContent #BBM .cardLeftSec::before,
#CoueseEachContent #BBS .cardLeftSec::before,
#CoueseEachContent #BSW .cardLeftSec::before,
#CoueseEachContent #MBS .cardLeftSec::before{
    content: "";
    position: absolute;
    top: 0;bottom: 0;right: 0;left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    transition: .5s;
}




#CoueseEachContent #BCA .cardLeftSec:hover::before,
#CoueseEachContent #BBM .cardLeftSec:hover::before,
#CoueseEachContent #BBS .cardLeftSec:hover::before,
#CoueseEachContent #BSW .cardLeftSec:hover::before,
#CoueseEachContent #MBS .cardLeftSec:hover::before{
    opacity: .5;
    cursor: pointer;
}
#CoueseEachContent #BSW .cardLeftSec::before{
    background-image: url("../../images/courses/courses_img_ba.JPG");
}
#CoueseEachContent #BBM .cardLeftSec::before{
    background-image: url("../../images/courses/courses_img_bbM.JPG");
}
#CoueseEachContent #BBS .cardLeftSec::before{
    background-image: url("../../images/courses/courses_img_bbs.JPG");
}
#CoueseEachContent #BCA .cardLeftSec::before{
    background-image: url("../../images/courses/courses_img_bca.JPG");
}
#CoueseEachContent #MBS .cardLeftSec::before{
    background-image: url("../../images/courses/courses_img_mbs.JPG");
}

#CoueseEachContent .cards .cardRightSec{
    width: 50%;
    padding: 20px;
}
#CoueseEachContent .cards .cardRightSec h3{
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
#CoueseEachContent .cards .cardRightSec p{
    text-align: justify;
    color: rgb(0,0,0,.7);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .5px;
    margin-top: 10px;
}

#CoueseEachContent .cards .cardRightSec button{
    border: 2px solid rgba(0, 0, 0, 0.8) !important;
    background: transparent;
    color: rgba(0, 0, 0, 0.8) !important;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 11px 15px !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    transition: .4s;
    font-size: 11px;
}
#CoueseEachContent .cards .cardRightSec button:hover{
    background-color: rgb(0, 0, 0, .8);
    color: rgb(255, 255, 255, .8) !important;
}   

#SubjectContent{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
    margin-left: 10px;
}
@media screen and (max-width: 1000px) {
    #CoueseEachContent .cards {
        width: 690px;
        margin: 20px auto;
    }    
}

@media screen and (max-width: 750px) {
    #CoueseEachContent .cards{
        margin: 5px;
    }
    #courseHome .contentsCourse {
        width: 100%;
    }
    #courseHome #headingCourses {
        padding: 20px;
        font-size: 25px;
        font-weight: 400;
    }
    #courseHome .contentsCourse p {
        font-size: 15px;
    }
    #CoursesDiscription .courseDisContent {
        width: 90%;    
        margin: 50px auto;

    }
    #SubjectContent {
        padding: 10px;
        margin-left: 0px;
    }
    #CoueseEachContent .cards {
        flex-direction: column;
    }
    #SubjectContent {
        grid-template-columns: repeat(auto-fit, minmax(340px, 400px));
        justify-content: center;
        gap: 20px;
    }
    #CoueseEachContent .cards {
        width:100%;
    }
    #CoueseEachContent .cards .cardLeftSec {
        width: 100%;
    }
    #CoueseEachContent .cards .cardRightSec {
        width: 100%;
    }
    #CoueseEachContent .cards .cardLeftSec {
        height: 500px;
    }
}
