:root {
  --toastify-color-success: #00e600!important;
  --toastify-color-error: #ff0000!important;
}

.Toastify{
  font-size: 14px;
}
#ErrorforTost{
  font-weight: bold;
  font-size: 15px;
  color: var(--toastify-color-error);
}
#SuccessforTost{
  font-weight: bold;
  font-size: 15px;
  color: var(--toastify-color-success);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
